sdk-core/src/main/resources/xsd/manual/UnifiedFeed_page_not_found.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!--
  ~ Copyright (C) Sportradar AG. See LICENSE for full license governing this code
  -->

<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
    <xs:element name="page_not_found" type="API_page_not_found"/>
    <xs:complexType name="API_page_not_found">
        <xs:simpleContent>
            <xs:extension base="xs:string">
                <xs:attribute type="xs:string" name="generated_at"/>
                <xs:attribute type="xs:string" name="message"/>
            </xs:extension>
        </xs:simpleContent>
    </xs:complexType>
</xs:schema>