sdk-core/src/main/resources/xsd/wns/endpoints/unified/lottery_schedule.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" targetNamespace="http://schemas.sportradar.com/sportsapi/v1/unified" xmlns="http://schemas.sportradar.com/sportsapi/v1/unified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
    <xs:include schemaLocation="../../includes/unified/lottery.xsd"/>
    <xs:include schemaLocation="../../includes/unified/draw_events.xsd"/>
    <xs:element name="lottery_schedule">
        <xs:complexType>
            <xs:sequence>
                <xs:element type="lottery" name="lottery" />
                <xs:element type="draw_events" name="draw_events" />
            </xs:sequence>
            <xs:attribute type="xs:dateTime" name="generated_at"/>
        </xs:complexType>
    </xs:element>
</xs:schema>
