sdk-core/src/main/resources/xsd/wns/includes/unified/draw_fixture.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" attributeFormDefault="unqualified" elementFormDefault="qualified">
    <xs:include schemaLocation="lottery.xsd"/>
    <xs:include schemaLocation="draw_status.xsd"/>
    <xs:complexType name="draw_fixture">
        <xs:sequence>
            <xs:element type="lottery" name="lottery"/>
        </xs:sequence>
        <xs:attribute name="id" type="xs:string"/>
        <xs:attribute name="draw_date" type="xs:dateTime"/>
        <xs:attribute name="status" type="drawStatus"/>
        <xs:attribute name="display_id" type="xs:int"/>
    </xs:complexType>
</xs:schema>