sdk-core/src/main/resources/xsd/wns/includes/unified/draw_event.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" attributeFormDefault="unqualified" elementFormDefault="qualified">
    <xs:include schemaLocation="draw_status.xsd"/>
    <xs:complexType name="draw_event">
        <xs:attribute name="id" type="xs:string"/>
        <xs:attribute name="scheduled" type="xs:dateTime"/>
        <xs:attribute name="status" type="drawStatus"/>
    </xs:complexType>
</xs:schema>
