sdk-core/src/main/resources/custombet_schemas/v1/endpoints/Calculation.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema version="1.0"
  xmlns:xs="http://www.w3.org/2001/XMLSchema"
  xmlns="http://schemas.sportradar.com/custombet/v1/endpoints"
  targetNamespace="http://schemas.sportradar.com/custombet/v1/endpoints"
  elementFormDefault="qualified">

  <xs:include schemaLocation="CommonTypes.xsd"/>

  <xs:element name="calculation_response" type="CalculationResponseType">
    <xs:annotation>
      <xs:documentation>Root element holding calculation response</xs:documentation>
    </xs:annotation>
  </xs:element>

  <xs:complexType name="CalculationResponseType">
    <xs:sequence>
      <xs:element name="calculation" type="CalculationResultType"/>
      <xs:element name="available_selections" type="AvailableSelectionsAfterCalculationType"/>
    </xs:sequence>
    <xs:attribute name="generated_at" type="xs:string" use="required">
      <xs:annotation>
        <xs:documentation>
          Date and time when the response was generated by the server, in ISO 8601 format
        </xs:documentation>
      </xs:annotation>
    </xs:attribute>
  </xs:complexType>

  <xs:complexType name="CalculationResultType">
    <xs:attribute name="odds" type="xs:double" use="required">
      <xs:annotation>
        <xs:documentation>
          Total calculated odds for the selection, returned in EU odds format
        </xs:documentation>
      </xs:annotation>
    </xs:attribute>
    <xs:attribute name="probability" type="xs:double" use="required">
      <xs:annotation>
        <xs:documentation>The probability of this outcome returned in decimal</xs:documentation>
      </xs:annotation>
    </xs:attribute>
    <xs:attribute name="harmonization" type="xs:boolean">
      <xs:annotation>
        <xs:documentation>The indicator if the harmonization method was used to calculate odds</xs:documentation>
      </xs:annotation>
    </xs:attribute>
  </xs:complexType>

  <xs:complexType name="AvailableSelectionsAfterCalculationType">
    <xs:sequence>
      <xs:element name="event" type="EventType" maxOccurs="unbounded"/>
    </xs:sequence>
  </xs:complexType>
</xs:schema>

