sdk-core/src/main/resources/custombet_schemas/v1/endpoints/ErrorResponse.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema version="1.0"
  xmlns:xs="http://www.w3.org/2001/XMLSchema"
  xmlns="http://schemas.sportradar.com/custombet/v1/endpoints"
  targetNamespace="http://schemas.sportradar.com/custombet/v1/endpoints"
  elementFormDefault="qualified">

  <xs:element name="response" type="ResponseType"/>

  <xs:complexType name="ResponseType">
    <xs:sequence>
      <xs:element name="message" type="xs:string">
        <xs:annotation>
          <xs:documentation>Response message describing the error</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="errors" type="xs:string" minOccurs="0">
        <xs:annotation>
          <xs:documentation>
            Additional information about the error cause
          </xs:documentation>
        </xs:annotation>
      </xs:element>
    </xs:sequence>
    <xs:attribute name="response_code" type="xs:string" use="required">
      <xs:annotation>
        <xs:documentation>
          A string representation of an HTTP response code, such as CONFLICT, or NOT_FOUND
        </xs:documentation>
      </xs:annotation>
    </xs:attribute>
    <xs:attribute name="generated_at" type="xs:string" use="required">
      <xs:annotation>
        <xs:documentation>
          Date and time when the response was generated by the server, in ISO 8601 format
        </xs:documentation>
      </xs:annotation>
    </xs:attribute>
  </xs:complexType>
</xs:schema>

