sdk-core/src/main/resources/custombet_schemas/v1/endpoints/PrebuiltBets.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema"
  elementFormDefault="qualified"
  targetNamespace="http://schemas.sportradar.com/custombet/v1/endpoints"
  xmlns="http://schemas.sportradar.com/custombet/v1/endpoints">

  <xs:include schemaLocation="CommonTypes.xsd"/>

  <xs:element name="pre_built_bets" type="PreBuiltBetsType"/>

  <xs:complexType name="PreBuiltBetsType">
    <xs:sequence>
      <xs:element name="event" type="EventRecommendationsType" maxOccurs="unbounded"/>
    </xs:sequence>
    <xs:attribute name="requested_recommendations" type="xs:int" use="required"/>
    <xs:attribute name="generated_at" type="xs:string" use="required">
      <xs:annotation>
        <xs:documentation>
          Date and time when the response was generated by the server, in ISO 8601 format
        </xs:documentation>
      </xs:annotation>
    </xs:attribute>
  </xs:complexType>

  <xs:complexType name="EventRecommendationsType">
    <xs:sequence>
      <xs:element name="recommendations" type="RecommendationsType" maxOccurs="unbounded"/>
    </xs:sequence>
    <xs:attribute name="id" type="xs:string" use="required"/>
    <xs:attribute name="provided_recommendation" type="xs:int" use="required"/>
    <xs:attribute name="source" type="xs:string" use="required"/>
  </xs:complexType>

  <xs:complexType name="RecommendationsType">
    <xs:sequence>
      <xs:element name="selection" type="PreBuiltBetsSelectionType" maxOccurs="unbounded"/>
    </xs:sequence>
    <xs:attribute name="odds" type="xs:double" use="required"/>
    <xs:attribute name="probability" type="xs:double" use="required"/>
  </xs:complexType>

  <xs:complexType name="PreBuiltBetsSelectionType">
    <xs:attribute name="market_id" type="xs:int" use="required"/>
    <xs:attribute name="outcome_id" type="xs:string" use="required"/>
    <xs:attribute name="specifiers" type="xs:string" />
  </xs:complexType>

</xs:schema>